:host {
  display: block;
  height: 100dvh;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-shell {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: auto;
  text-align: center;
}

h1 {
  font-size: 3.125rem;
  font-weight: 500;
  letter-spacing: -0.125rem;
  margin: 0;
}

p {
  margin: 0;
  color: #4f4f4f;
}
